.dashboard
  / = paginate @releasers
  .dashboard-unit
    .row
      .span4
        .well
          %h3= t('releasers')
          %form#filter.form-search{ data: { list: '#releasers' }}
            .input-prepend
              %button.btn.disabled
                %i.icon-filter
              %input.search-query{ placeholder: t('filter'), type: "text" }


          %ul#releasers.nav.nav-pills.nav-stacked
            - @releasers.each_with_index do |r, i|
              %li{ class: "#{'active' if i == 0}"}
                = link_to r.name, "#releaser_#{r.id}", data: { toggle: "pill" }
      .span8
        #titles.tab-content
          - @releasers.each_with_index do |r, i|
            %div{ id: "releaser_#{r.id}", class: "tab-pane fade #{'in active' if i == 0}"}
              %br/
              %h3= "#{r.name} titles"
              %ul.unstyled.sub-unsub
                - r.titles.each do |t|
                  %li{ data: { title_id: t.id }}
                    - if current_user.titles.include?(t)
                      %button.btn.btn-danger.btn-mini.fade{ data: { action: 'Unsubscribe', instance_id: t.id, instance_class: t.class, 'original-title' => t('unsubscribe')}}
                        %i.icon-minus
                      &nbsp;
                      %span.text-success= t.name
                    - else
                      %button.btn.btn-success.btn-mini.fade{ data: { action: 'Subscribe', instance_id: t.id, instance_class: t.class, 'original-title' => t('subsribe')}}
                        %i.icon-plus
                      &nbsp;
                      = t.name
