.dashboard
  / = paginate @releasers
  .dashboard-unit
    .row
      .span4
        .well
          %h3 Releasers
          %form#filter.form-search{ data: { list: '#releasers' }}
            .input-prepend
              %button.btn.disabled
                %i.icon-filter
              %input.search-query{ placeholder: "Filter", type: "text" }


          %ul#releasers.nav.nav-pills.nav-stacked
            - @releasers.each_with_index do |r, i|
              %li{ class: "#{'active' if i == 0}"}
                = link_to r.name, "#releaser_#{r.id}", data: { toggle: "pill" }
      .span8
        #titles.tab-content
          - @releasers.each_with_index do |r, i|
            %div{ id: "releaser_#{r.id}", class: "tab-pane fade #{'in active' if i == 0}"}
              %br/
              %h3= "#{r.name} titles"
              %ul.unstyled
                - r.titles.each do |t|
                  %li{ data: { title_id: t.id }}
                    - if current_user.titles.include?(t)
                      %span.text-success= t.name
                      &nbsp;
                      %button.btn.btn-danger.btn-mini.fade Unsubscribe
                    - else
                      = t.name
                      &nbsp;
                      %button.btn.btn-inverse.btn-mini.fade Subscribe
