.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .row
        .span6
          = link_to t('project_title'), root_path, class: 'brand'
          - if user_signed_in?
            %ul.nav
              %li= link_to t('releasers'), releasers_path
              %li= link_to t('titles'), titles_path
        .span3
          = form_tag root_path, method: :get, class: "navbar-search form-search" do
            .input-append
              = search_field_tag :q, params[:q], placeholder: t('search'), class: 'search-query'
              %button.btn{ type: 'submit' }
                %i.icon-search
        .span3
          .pull-right
            - if user_signed_in?
              = link_to current_user.decorate.name, root_path, class: 'current-user-link'
              = link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do
                %i.icon-off
            - else
              %button#login-popup-btn.btn.btn-info{ data: { toggle: 'modal', target: '#sign-in-modal' }}
                =t('sign_up_in')
