.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Anifier', root_path, class: 'brand'
      - if user_signed_in?
        %ul.nav
          %li= link_to "Releasers", "#"
          %li= link_to "Now airing", "#"
          %li= link_to "History", "#"

      .pull-right
        - if user_signed_in?
          = link_to current_user, current_user, class: 'current-user-link'
          = link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do
            %i.icon-off
        - else
          %button.btn.btn-info{ data: { toggle: 'modal', target: '#sign-in-modal' }} Sign up/in
