%h2= t('brand_new')
= form_tag subscriptions_path, method: :post, class: "dashboard-unit-inner" do
  - releases.each do |r|
    = label_tag "release_ids[#{r.id}]", class: "checkbox" do
      = check_box_tag "release_ids[]", r.id, false, id: "release_ids_#{r.id}"
      = r.decorate.full_title

  = submit_tag "Subscribe", class: "btn btn-inverse dashboard-submit"