%h2= t('watched')
- if current_user.subscriptions.empty?
  .alert.alert-info
    .alert-title= t('no_subscriptions')
    %p=t('subscribe_lasest', releasers: link_to 'releasers', releasers_path, class: 'badge badge-inverse', titles: link_to 'titles', titles_path, class: 'badge badge-inverse')
- else
  = form_tag subscriptions_path, method: :delete, class: "dashboard-unit-inner" do
    - subscriptions.each do |s|
      = label_tag "subscription_ids[#{s.id}]", class: "checkbox" do
        = check_box_tag "subscription_ids[]", s.id, false, id: "subscription_ids_#{s.id}"
        = s.decorate.full_title

    = submit_tag "Unsubscribe", class: "btn btn-danger dashboard-submit", confirm: t('are_you_sure')
