%h3= @releaser.name

%p= link_to t('.delete'), admin_releaser_path(@releaser), method: :delete, confirm: t('.are_you_sure')

= simple_form_for @releaser, url: admin_releaser_path(@releaser) do |f|
  = f.input :name
  = f.input :description
  = f.input :url
  = f.button :submit