.dashboard
  / = paginate @releasers
  .dashboard-unit
    .row
      .span4
        .well
          %h3= t('titles')
          %form#filter.form-search{ data: { list: '#titles' }}
            .input-prepend
              %button.btn.disabled
                %i.icon-filter
              %input.search-query{ placeholder: t('filter'), type: "text" }


          %ul#titles.nav.nav-pills.nav-stacked
            - @titles.each_with_index do |t, i|
              %li{ class: "#{'active' if i == 0}"}
                = link_to t.name, "#title_#{t.id}", data: { toggle: "pill" }
      .span8
        #releasers.tab-content
          - @titles.each_with_index do |t, i|
            %div{ id: "title_#{t.id}", class: "tab-pane fade #{'in active' if i == 0}"}
              %br/
              %h3= "#{t.name} releasers"
              %ul.unstyled.sub-unsub
                - t.releasers.each do |r|
                  %li
                    - if current_user.releasers.include?(r)
                      - s = current_user.subscriptions.keep_if{|s| s.releaser_id == r.id }.first
                      - if s.present?
                        %button.btn.btn-danger.btn-mini.fade{ data: { action: 'unsubscribe', subscription_id: s.id, url: subscription_path(s), 'original-title' => 'Unsubscribe'}}
                          %i.icon-minus

                      &nbsp;
                      %span.text-success= r.name
                    - else
                      %button.btn.btn-success.btn-mini.fade{ data: { action: 'subscribe', releaser_id: r.id, title_id: nil, url: subscriptions_path, 'original-title' => t('subscribe')}}
                        %i.icon-plus
                      &nbsp;
                      = r.name

